.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.Rdata
.httr-oauth
.DS_Store

data/
presentations/data/
presentations/images/
test_theme.scss

code_samples/blackout-analysis-with-python-and-r/data/
code_samples/data-wrangling-with-python-and-R/data/
code_samples/protecting-whales-from-ships/data/
code_samples/blackout-analysis-with-python-and-r/env



